ANTHROPIC_API_key=sk-your key here
FMP_API_KEY=your key here

# net_worth_snapshot.py
GMAIL_ADDRESS=your_email@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password
FIDELITY_CSV=/Users/Adam/DEV_Space/ai_practice/fidelity_export.csv
CAPITALGROUP_CSV=/Users/Adam/DEV_Space/ai_practice/capitalgroup.csv
